@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, DFC.Personalisation.CommonUI
@model DFC.App.ActionPlans.Services.DSS.Models.Adviser

<div class="app-sidebar" id="speaktoadvisor">
    <section>
        <govukHeadingH2 text="Your careers adviser" additional-class="govuk-heading-m"></govukHeadingH2>
        <p>
            <span><strong>Name: </strong>@Model.AdviserName</span><br>
            <span>
                <strong>Email: </strong><a href="mailto:@Model.AdviserEmailAddress">@Model.AdviserEmailAddress</a>
            </span><br>
            <span><strong>Telephone:</strong> @Model.AdviserContactNumber</span>
        </p>
        <p>
            @Model.AdviserName will respond to you within 3 working days
        </p>
    </section>
</div>