@model DFC.App.ActionPlans.ViewModels.HomeCompositeViewModel

<partial name="~/Views/Shared/BodyTop.cshtml" />
@if (!Model.HideHeroBanner)
{
    <div class="primary-hero">
        <govukPrimaryHeroBanner headerText="@CompositeViewModel.AppTitle"></govukPrimaryHeroBanner>
    </div>
}
