@model DFC.App.ActionPlans.ViewModels.HomeCompositeViewModel

<partial name="~/Views/Shared/BodyTop.cshtml" />
@if (!Model.HideHeroBanner)
{
    <div class="primary-hero">
        <govukPrimaryHeroBanner headerText="@CompositeViewModel.AppTitle"></govukPrimaryHeroBanner>

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p>Taking the next step in your career can sometimes feel overwhelming. It’s helpful to break down a big decision into small steps that you can do one at a time. Use your action plan to keep track of the goals and actions you and your adviser set during your appointment.</p>
                   
                </div>
            </div>
        </div>
    </div>
}
