@model DFC.App.ActionPlans.ViewModels.HomeCompositeViewModel

<partial name="~/Views/Shared/BodyTop.cshtml" />
@if (!Model.HideHeroBanner)
{
    <div class="ncs-hero page-hero">

        <div class="d-only">
            <img src="@($"{Model.CompositeSettings.Cdn}media/headers/action-plans-desktop-header.png")" alt="a young person with downs syndrome discovering her skills as she gets training on the computer in an office." />
        </div>

        <div class="m-only">
            <img src="@($"{Model.CompositeSettings.Cdn}media/headers/action-plans-mobile-header.png")" alt="a young person with downs syndrome discovering her skills as she gets training on the computer in an office." />
        </div>

        <div class="content govuk-width-container">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">
                        <div class="block ncs">
                            <span>@CompositeViewModel.AppTitle</span>
                        </div>
                    </h1>

                    <div class="sub-heading">
                        <p class="block">
                            <span>Use</span>
                            <span>your</span>
                            <span>action</span>
                            <span>plan</span>
                            <span>to</span>
                            <span>keep</span>
                            <span>track</span>
                            <span>of</span>
                            <span>the</span>
                            <span>goals</span>
                            <span>and</span>
                            <span>actions</span>
                            <span>you</span>
                            <span>and</span>
                            <span>your</span>
                            <span>adviser</span>
                            <span>set</span>
                            <span>during</span>
                            <span>your</span>
                            <span>appointment.</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
}
