@using Microsoft.Extensions.Options
@using DFC.App.ActionPlans.Models
@inject IOptions<AuthSettings> AuthSettings;

<div class="govuk-main-wrapper ">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            

            <div class="govuk-grid-column-two-thirds">
                
                <govukHeadingH3 text="Action Plans"></govukHeadingH3>
                <govukButtonLink  id="@Model.GetElementId("govukButtonLink ", "GoToActionPlans")" LinkText="Go to your action plans" LinkHref="@AuthSettings.Value.AccountEndpoint"></govukButtonLink>
            </div>

            <div class="govuk-grid-column-one-third">

                <div class="app-sidebar app-advisor-panel">
                    <h3 class="govuk-heading-m">Want to speak to an adviser?</h3>
                    <p class="govuk-body"><strong>Call</strong> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
                    <p class="govuk-caption-m app-advisor-hours">8am to 10pm, 7 days a week</p>
                </div>
            </div>
        </div>
    </div>

</div>